@font-face {
    font-family: machina;
    src: url('./fonts/659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.ttf');
}

@font-face {
    font-family: machinaa;
    src: url('./fonts/659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.ttf');
}

@font-face {
    font-family: satoshi;
    src: url('./fonts/659dbdfd5a080be8d3483173_Satoshi-Variable.ttf');
}
 
:root{
   --salmon:#ef9071;
   --black:#000;
   --white:#fff;
   --cyan:#aedee0;
   --darksalmon:#532321;
   --dcyan:#1f2f32;
}
body{
    transition:background-color ease-out .5s;
}
*::selection{
    background-color: var(--salmon);

}
.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

body[theme="black"]{
    background-color:var(--black);
  
}

body[theme="black"] .section{
   color:var(--white);
     border-color: var(--white);
}
body[theme="cyan"]{
    background-color:var(--cyan)
}
body[theme="cyan"] .section{
    color:var(--dcyan)
}

body[theme="salmon"]{
    background-color:var(--salmon)
}
body[theme="salmon"] .section{
   color:var(--darksalmon )
}

body[theme="white"]{
    background-color:var(--white);
}
body[theme="white"] .section{
    color:var(--black)
}
::-webkit-scrollbar {
    display: none;
}